{% set currentUrl = page.url %}
<footer>
    <ul role="list">
        <li>
            <a href="https://github.com/w0whitaker">github</a>
        </li>
        <li>
            <a href="https://codepen.io/w0whitaker">codepen</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/w0whitaker/">linkedin</a>
        </li>
    </ul>
    <p>all content &#169; William Whitaker</p>
</footer>
