{% set currentUrl = page.url %}

<nav>
    <ul role="list">
        {% for link in collections.pages %}
        <li id="{{ link.data.title | lower }}">
            {% if link.data.title === "contact" %}
            <a href="mailto:{{ env.EMAIL_ADDRESS }}">{{ link.data.title }}</a>
            {% else %}
            <a href="{{ link.url }}">{{ link.data.title }}</a>
            {% endif %}
        </li>
        {%- endfor %}
        {% if currentUrl != '/' %}
        <li id="home">
            <a href="/">home</a>
        </li>
        {% endif %}
    </ul>
</nav>
