/* Reset */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

:is(body, main, article, section) {
	padding: 0;
}

/* Global */
:root {
	--color-dark: #00000f;
	--color-light: #fffff0;
	--color-primary: #0071bb;
	/* @link https://utopia.fyi/type/calculator?c=320,18,1.667,1240,20,1.667,2,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--step-1: clamp(1.8754rem, 1.8029rem + 0.3624vw, 2.0838rem);
	--step-2: clamp(3.1263rem, 3.0054rem + 0.6041vw, 3.4736rem);
	/* @link https://utopia.fyi/space/calculator?c=320,18,1.667,1240,20,1.667,2,0,&s=,1.5|2,s-l&g=s,l,xl,12 */
	--space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
	--space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
}

body {
	background: var(--color-light);
	color: var(--color-dark);
	margin: var(--space-s);
	font-family: system-ui, sans-serif;
	font-size: var(--step-0);
	line-height: 1.7;
}

:is(h1, h2, h3) {
	font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
	font-weight: 800;
	--flow-space: var(--space-l);
	line-height: 1.1;
}

h1 {
	font-size: var(--step-2);
	max-width: 18ch;
}

h2 {
	font-size: var(--step-1);
}

article {
	max-width: 80ch;
}

:is(ul, ol) {
	padding-inline-start: 1em;
}

blockquote {
	padding-inline-start: 1em;
	border-inline-start: 0.3em solid;
}

a {
	color: currentColor;
	text-decoration-color: var(--color-primary);
	text-decoration-thickness: 0.3ex;
	text-underline-offset: 0.3ex;
}

aside {
	color: var(--color-light);
	background-color: var(--color-dark);
	margin: var(--space-l);
	padding: 0;
	max-width: fit-content;
}

aside > * {
	margin: 0;
	padding: var(--space-s);
}

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}
