@layer reset {
	/* Reset */
	/* https://piccalil.li/blog/a-more-modern-css-reset/ */
	/* Box sizing rules */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* Prevent font size inflation */
	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	/* Remove default margin in favour of better control in authored CSS */
	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin: 0;
	}

	/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
	/* My note: the reasoning for this is that Safari will remove semantics from lists that have had default styling removed, and VoiceOver will not announce them as lists. This rule acts as a safeguard to ensure that a role has been assigned to lists by automatically removing the default styling. I suppose the takeaway is that lists should always be given a role of "list". */
	ul[role="list"],
	ol[role="list"] {
		list-style: none;
		/* My addition: remove padding as well. */
		padding: 0;
	}

	/* Set core body defaults */
	body {
		min-height: 100vh;
		line-height: 1.5;
	}

	/* Set shorter line heights on headings and interactive elements */
	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	/* Balance text wrapping on headings */
	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	/* A[nchor] elements that don't have a class get default styles */
	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	/* Make images easier to work with */
	img,
	picture {
		max-width: 100%;
		display: block;
	}

	/* Inherit fonts for inputs and buttons */
	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
	}

	/* Make sure textareas without a rows attribute are not tiny */
	textarea:not([rows]) {
		min-height: 10em;
	}

	/* Anything that has been anchored to should have extra scroll margin */
	:target {
		scroll-margin-block: 5ex;
	}
}

@layer global {
	/* Global */
	:root {
		/* Variables: */
		/* Color */
		--color-dark: #00000f;
		--color-light: #fffff0;
		--color-primary: #0071bb;
		/* Typography */
		/* @link https://utopia.fyi/type/calculator?c=320,18,1.414,1240,20,1.667,2,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
		--step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
		--step-1: clamp(1.8754rem, 1.8029rem + 0.3624vw, 2.0838rem);
		--step-2: clamp(3.1263rem, 3.0054rem + 0.6041vw, 3.4736rem);
		/* Spacing */
		/* @link https://utopia.fyi/space/calculator?c=320,18,1.414,1240,20,1.667,2,0,&s=0.75,1.5|2|3,s-l&g=s,l,xl,12 */
		--space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
		--space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
		--space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
		--space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
		--space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);

		/* One-up pairs */
		--space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
		--space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
		--space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
		--space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);

		/* Custom pairs */
		--space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
	}

	* {
		max-inline-size: var(--measure, 60ch);
	}

	html,
	body,
	div,
	header,
	nav,
	main,
	footer {
		max-inline-size: none;
	}

	body {
		background: var(--color-light);
		color: var(--color-dark);
		font-family: system-ui, sans-serif;
		font-size: var(--step-0);
		line-height: 1.7;
		margin-inline: var(--space-xs-s);
	}

	a {
		color: currentColor;
		text-decoration-color: var(--color-primary);
		text-decoration-thickness: 0.3ex;
		text-underline-offset: 0.3ex;
	}

	a:focus {
		outline: 0.3ex solid var(--color-primary);
		border-radius: 3px;
		padding-inline: 0.3ex;
		padding-block-end: 0.3ex;
	}

	:is(h1, h2, h3) {
		font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
		font-weight: 800;
	}

	h1 {
		font-size: var(--step-2);
		max-width: 18ch;
	}

	h2 {
		font-size: var(--step-1);
	}

	article {
		--flow-space: var(--space-s-m);
	}

	blockquote {
		padding-inline-start: 1em;
		border-inline-start: 0.3em solid;
	}

	aside {
		margin-block-start: calc(var(--flow-space) + 3.5em);
		color: var(--color-light);
		background-color: var(--color-dark);
		/* max-width: fit-content; */
	}

	aside > * {
		--measure: 33ch;
		padding: var(--space-s);
	}

	footer:has(> *) {
		border-block-start: 0.3ex solid var(--color-dark);
		padding-block-start: var(--space-l-xl);
	}
}

@layer composition {
	.container {
		container-name: var(--container-name, genericContainer);
		container-type: inline-size;
	}

	.cover {
		display: flex;
		flex-direction: column;
		min-block-size: 100vh;
		padding: 0;
	}

	.cover > * {
		margin-block: var(--space-l-xl);
	}

	.cover > :first-child:not(main) {
		margin-block-start: 0;
	}

	.cover > :last-child:not(main) {
		margin-block-end: 0;
	}

	.cover > main {
		margin-block: auto;
	}

	.flow {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.flow > * {
		margin-block: 0;
	}

	.flow > * + * {
		margin-block-start: var(--flow-space, 1em);
	}

	.center {
		box-sizing: content-box;
		margin-inline: auto;
		max-inline-size: var(--measure, 60ch);
	}

	main {
		--flow-space: var(--space-xl);
	}
}

@layer block {
	.visually-hidden {
		display: inline-block;
		color: var(--color-primary);
		font-size: var(--step-0);
	}

	.visually-hidden:not(:focus):not(:active) {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	.nav {
		display: inline-flex;
		gap: var(--space-s-m);
		flex-wrap: wrap;
	}

	.strong-verb > em {
		font-style: normal;
		font-weight: 700;
	}

	.resume-block h2,
	.experience-block hgroup {
		border-block-end: 0.3ex solid var(--color-dark);
		padding-block-end: 0.3ex;
	}

	hgroup {
		max-width: fit-content;
		--flow-space: var(--space-s);
	}

	hgroup p {
		padding-inline-end: var(--space-xl);
		font-size: 0.9em;
	}

	article.post-body ul {
		padding-inline-start: var(--space-xs);
		margin: 0;
	}
}
