---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<h2>Thoughtables.</h2>
<ul>
	{% for post in collections.posts %}
		<li>
			<a href="{{ post.url }}">
				{{ post.data.title }}
			</a>
		</li>
	{% endfor %}
</ul>