---js
const eleventyNavigation = {
  key: "Links",
  order: 4
};
---

<article class="flow">
  <h1>Some links.</h1>
  {% for link in links %}
    <section>
      <div class="flow link-summary">
        <h2>
          <a href="{{ link.url }}">{{ link.title | safe }}</a>
        </h2>
        <blockquote>
          {{ link.excerpt }}
        </blockquote>
      </div>
    </section>
  {% endfor %}
</article>