---js
const eleventyNavigation = {
	key: "Resume",
	order: 3
};
---

<h1>William Whitaker</h1>
<address>
	<a href="mailto:william@williamwhitaker.com">william@williamwhitaker.dev</a><br/>
</address>
<p>A front-end developer based in the Washington, DC metropolitan area with 10 years of experience in core web technologies and a passion for creating accessible, performant, and scalable web sites.</p>
<section class="flow">
	<h2>Key skills</h2>
	<ul>
		<li>HTML, CSS, SASS, JavaScript, PHP</li>
		<li>Custom theming for Drupal and WordPress</li>
		<li>Modular front-end development frameworks, especially Vue.js and Web Components</li>
		<li>Modern CSS libraries including Tailwind and Bootstrap</li>
		<li>Familiarity with current best practices in UI/UX, especially accessibility</li>
		<li>Strong experience with development tools, especially Git and Linux server management</li>
		<li>Documentation tools, especially Storybook</li>
		<li>Strong communication skills, verbal and written.</li>
		<li>Intermediate French</li>
	</ul>
</section>
<section class="flow">
	<h2>Experience</h2>
	<section class="flow">
		<h3>National Gallery of Art</h3>
		<p>
			<span>Senior Art Services Specialist</span> | <span>Washington, DC</span> | <span>2007-present</span>
		</p>
		<ul>
			<li>
				<em>Created</em> an application to track the locations of artwork frames, centralizing that information and making it accessible from anywhere.
			</li>
			<li>
				<em>Wrote</em> a comprehensive guide to art handling, establishing standardized procedures to streamline the onboarding process for contractors and new hires.
			</li>
			<li>
				<em>Supervises</em> teams of art handlers and coordinates schedules and logistics for the movement and installation of special exhibitions and the permanent collection.
			</li>
		</ul>
	</section>
	<section class="flow">
		<h3>Human Service Forum</h3>
		<p>
			<span>Freelance WordPress developer</span> | <span>Mount Holyoke, MA</span> | <span>2021-2024</span>
		</p>
		<ul>
			<li>
				<em>Created</em> a custom theme and plugin to improve site performance, reducing page load time by more than half.</li>
			<li>
				<em>Improved</em> site accessibility by using semantically correct markup and implementing current best practices.</li>
			<li>
				<em>Developed</em> new content types and pages, simplifying the creation and editing of content.</li>
			<li>
				<em>Maintained</em> site functionality by periodically updating plugins and WordPress core.</li>
		</ul>
	</section>
</section>
<section class="flow">
	<h2>Education</h2>
	<p>Rhode Island School of Design, BFA Painting</p>
</section>