{% set currentUrl = page.url %}
<footer class="flow">
    {% include 'partials/global/sitenav.njk' %}
    <ul role="list">
        <li>
            <a href="https://github.com/w0whitaker">github</a>
        </li>
        <li>
            <a href="https://codepen.io/w0whitaker">codepen</a>
        </li>
    </ul>
    <p>all content &#169; William Whitaker</p>
    <p style="font-size: 0.75em">built with <a href="https://www.11ty.dev/">
        <span style="color: red">t</span>
        <span style="color: orange">t</span>
        <span style="color: yellow">t</span>
        <span style="color: darkslategray">t</span>
        <span style="color: darkslategray">t</span>
        <span style="color: green">t</span>
        <span style="color: darkslategray">t</span>
        <span style="color: darkslategray">t</span>
        <span style="color: blue">t</span>
        <span style="color: indigo">t</span>
        <span style="color: violet">t</span>
    </a></p>
</footer>
