{% set currentUrl = page.url %}

<header id="site-header" class="flow">
    <h1><a href="/">{{ meta.siteName }}</a>://</h1>
    {% image "./src/assets/images/selfp.svg", "a drawing of me" %}
    {% include 'partials/global/sitenav.njk' %}
</header>