{% set currentUrl = page.url %}

<header id="site-header">
  <div class="adjoining-duo">
    <div class="duo-l">
      <h1>
        <a href="/">{{ meta.siteName }}</a>://</h1>
    </div>
    <div class="duo-r">
      {% image "./src/assets/images/selfp.png", "a drawing of me", "logo-image", [400, 600] %}
    </div>
  </div>
  {% include 'partials/global/sitenav.njk' %}
</header>