{% set currentUrl = page.url %}

<div class="bottom-border conic-gradient">
	<header role="banner">
		<p class="main-title">Commendable developery!</p>
	</header>
	{% include 'partials/global/sitenav.njk' %}
</div>