{% set currentUrl = page.url %}

<nav class="center-full">
{% for link in siteNavigation %}
			<div class="center">
				<a href="{{ link.target }}" class="box standard-box inline-border rounded-border">
{{ link.content }}
				</a>
			</div>
{% endfor %}
</nav>
