{% set currentUrl = page.url %}

<nav class="intrinsic-center">
  <ul role="list" class="cluster">
    <li class="box standard-box invert intrinsic-center">
      <a href="/">home</a>
    </li>
    <li class="box standard-box invert intrinsic-center">
      <a href="mailto:{{ env.EMAIL_ADDRESS }}">contact</a>
    </li>
  </ul>
</nav>
