{% set currentUrl = page.url %}

<nav class="center">
	<div class="cluster">
		{% for link in siteNavigation %}
		<a href="{{ link.target }}"
			 class="box standard-box invert">
			{{ link.content }}
		</a>
		{% endfor %}
	</div>
</nav>
