---
layout: page.njk
---

<article>
  <hgroup>
      <h2>{{ title }}</h2>
      <p>
          <time datetime="{{ collections.posts[0].data.page.date | isoDate }}">{{ collections.posts[0].data.page.date | humanDate }}</time>
      </p>
  </hgroup>
  {{ content | md | safe }}
  {% footnotes %}
</article>