<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="image" property="og:image" content="{{ ogImage }}"/>
    <meta name="description" property="og:description" content="{{ ogDesc }}"/>
    <meta name="author" content="William Whitaker"/>
    <meta name="fediverse:creator" content="@w5m@mas.to">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/prism.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="williamwhitaker.dev"/>
    <link rel="manifest" href="/assets/images/site.webmanifest"/>
  </head>
  <body class="flow cover">
    <div class="masthead">
      <header role="banner">
        <h1 class="main-title">
          <span id="url">document url</span>
        </h1>
        {# having this script here seems awkward #}
        <script>
          document
            .getElementById('url')
            .textContent = document.URL;
        </script>
        {% include 'partials/sitenav.njk' %}
      </header>
    </div>
    {{ content | safe }}
    <footer class="box wide-box">
      <ul role="list">
        <li>
          <a href="https://github.com/w0whitaker" rel="me">github</a>
        </li>
        <li>
          <a href="https://codepen.io/w0whitaker">codepen</a>
        </li>
      </ul>
      <p>all content &#169; William Whitaker</p>
      <p style="font-size: 0.75em">built with <a href="https://www.11ty.dev/">
          <span style="color: red">t</span>
          <span style="color: orange">t</span>
          <span style="color: yellow">t</span>
          <span style="color: darkslategray">t</span>
          <span style="color: darkslategray">t</span>
          <span style="color: green">t</span>
          <span style="color: darkslategray">t</span>
          <span style="color: darkslategray">t</span>
          <span style="color: blue">t</span>
          <span style="color: indigo">t</span>
          <span style="color: violet">t</span>
        </a>
      </p>
    </footer>

  </body>
</html>