<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="image" property="og:image" content="{{ ogImage }}"/>
    <meta name="description" property="og:description" content="{{ ogDesc }}"/>
    <meta name="author" content="William Whitaker"/>
    <meta name="fediverse:creator" content="@w5m@mas.to">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/prism.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body class="flow cover">
    {{ content | safe }}
  </body>
</html>