<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="image" property="og:image" content="{{ ogImage }}">
    <meta name="description" property="og:description" content="{{ ogDesc }}">
    <meta name="author" content="William Whitaker">
    <link rel="me" href="https://mastodon.social/@commendable">
    <title>{{ title }}</title>
    {% set css %}{% include "src/main.css" %}{% endset %}
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body class="flow">
    {% include 'partials/global/header.njk' %}
    {{ content | safe }}
    {% include 'partials/global/footer.njk' %}
  </body>
</html>