---
layout: base
---
{% include 'partials/header.njk' %}

<main>
	<div class="flex flex-col gap-2">
		<div class="flex items-end gap-2">
			<span>this page: </span>
			<h2>"{{ pageTitle }}."</h2>
		</div>
		{% include 'partials/sitenav.njk' %}
		{{ content | safe }}
	</div>
</main>

{% include 'partials/footer.njk' %}
