---
layout: base
---
{% include 'partials/header.njk' %}

<main>
	<div class="layout:[ flex flex-col gap-2 ]">
	{% include 'partials/page-name.njk' %}
	{% include 'partials/sitenav.njk' %}
	{{ content | safe }}
	</div>
</main>

{% include 'partials/footer.njk' %}
