---js
{ layout: 'layouts/page.njk' }
---
<article class="flow">
	<hgroup>
		<h2>
			<span class="heading-bg">{{ title }}</span></h2>
		<p>
			<time
				datetime="{{
					page
					.date | isoDate
				}}"
				>{{
					page.date |
					humanDate
				}}</time
			>
		</p>
	</hgroup>
	{{ content | safe }}
</article>