---
layout: page
---

<article class="flow">
	<hgroup>
		<h1>{{ title }}</h1>
		<p>
			<time
				datetime="{{
					page
					.date | isoDate
				}}"
				>{{
					page.date |
					humanDate
				}}</time
			>
		</p>
	</hgroup>
	{{ content | safe }}
	{% footnotes %}
</article>
