---
layout: page
---
<article class="flow">
  <hgroup>
      <h2>{{ title }}</h2>
      <p>
          <time datetime="{{ collections.posts[0].data.
          .date | isoDate }}">{{ collections
          .posts[0].data.date | 
          humanDate }}</time>
      </p>
  </hgroup>
  <section class="flow">
  {{ content | md | safe }}
  </section>
  {% footnotes %}
</article>