* {
    max-inline-size: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
    padding: var(--space-m);
}

ul,
ol {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flow > * + * {
    margin-block-start: var(--space-m);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin: -1rem;
  }
  
  .container > * {
    flex-grow: 1;
    flex-basis: calc((40rem - 100%) * 999);
    margin: 1rem;
  }
  
  .container > :nth-last-child(n+5),
  .container > :nth-last-child(n+5) ~ * {
    flex-basis: 100%;
  }