body {
    padding: var(--space-m);
}

ul,
ol {
    padding-inline-start: var(--space-xs);
}

header {
    background-color: red;
}

.flow > * + * {
    margin-block-start: var(--space-2xs);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}