@import url('./_reset.css');
@import url('./_typography.css');
@import url('./_images.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #603813;
  --secondary: #c69c6d;
  --highlight: #ff931e;
}

#page-wrapper {
  display: grid;
  grid-template-areas:
    "header-left header-right"
    "sidebar main-content"
    "footer ....";
  grid-template-columns: repeat(8, 8rem);
  grid-template-rows: repeat(8, 8rem);
  margin-top: 1rem;
}

.box {
  padding: 1rem;
}

#header-left {
  grid-area: header-left;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-color: var(--highlight);
}

#header-right {
  grid-area: header-right;
  grid-column: 4 / -1;
  grid-row: 1;
  background-color: var(--primary);
}

#sidebar {
  grid-area: sidebar;
  grid-column: 1 / span 3;
  grid-row: 4 / span 3;
  background-color: var(--primary);
}

#main-content {
  grid-area: main-content;
  grid-column: 4 / -1;
  grid-row: 2 / span 5;
  background-color: var(--secondary);
}

#footer {
  grid-area: footer;
  grid-column: 1 / -1;
  grid-row: 7;
  background-color: var(--primary);
}
