@import url('./_reset.css');
@import url('./_typography.css');
@import url('./_images.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #603813;
  --secondary: #c69c6d;
  --tertiary: #ff931e;
  --highlight: #ffccb3;
  --dark: #391d00;
}
body {
  background-color: var(--highlight);
}

#page-wrapper {
  display: grid;
  grid-template-areas:
    "header-left header-right"
    "sidebar main-content"
    "footer ....";
  grid-template-columns: repeat(8, 6rem);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 0.25rem;
  width: fit-content;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.box {
  padding: 1rem;
  border-radius: 0.5rem;
}

#header-left {
  grid-area: header-left;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  color: var(--primary);
  background-color: var(--tertiary);
}

#header-right {
  grid-area: header-right;
  grid-column: 4 / -1;
  grid-row: 1;
  background-color: var(--primary);
  color: var(--highlight);
}

#sidebar {
  grid-area: sidebar;
  grid-column: 1 / span 3;
  grid-row: 4 / span 3;
  background-color: var(--primary);
  color: var(--highlight);
}

#main-content {
  grid-area: main-content;
  grid-column: 4 / -1;
  grid-row: 2 / span 5;
  background-color: var(--secondary);
}

#footer {
  grid-area: footer;
  grid-column: 1 / -1;
  grid-row: 7;
  background-color: var(--primary);
  color: var(--highlight);
}
