<article>
  <h2>Design.</h2>
  <section>
    <h3>Typography.</h3>
    <table>
      <caption>Summary of the type scale.</caption>
      <thead>
        <tr>
          <th scope="col">Step.</th>
          <th scope="col">Custom property.</th>
          <th scope="col">Minimum.</th>
          <th scope="col">Ideal.</th>
          <th scope="col">Maximum.</th>
          <th scope="col">Fallback.</th>
        </tr>
      </thead>
      <tbody>
      <!-- step 5 -->
        <tr>
          <th scope="row">5</th>
          <td scope="row"><code>--step-5</code></td>
          <td scope="row"><code>2.7994rem</code></td>
          <td scope="row"><code>2.4462rem + 1.7658vi</code></td>
          <td scope="row"><code>3.8147rem</code></td>
          <td scope="row"><code>2.5rem</code></td>
        </tr>
        <!-- step 4 -->
        <tr>
          <th scope="row">4</th>
          <td scope="row"><code>--step-4</code></td>
          <td scope="row"><code>2.3328rem</code></td>
          <td scope="row"><code>2.0827rem + 1.2504vi</code></td>
          <td scope="row"><code>3.0518rem</code></td>
          <td scope="row"><code>2rem</code></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td scope="row"><code>--step-3</code></td>
          <td scope="row"><code>1.944rem</code></td>
          <td scope="row"><code>1.771rem + 0.8651vi</code></td>
          <td scope="row"><code>2.4414rem</code></td>
          <td scope="row"><code>1.75rem</code></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td scope="row"><code>--step-2</code></td>
          <td scope="row"><code>1.62rem</code></td>
          <td scope="row"><code>1.5041rem + 0.5793vi</code></td>
          <td scope="row"><code>1.9531rem</code></td>
          <td scope="row"><code>1.5rem</code></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td scope="row"><code>--step-1</code></td>
          <td scope="row"><code>1.35rem</code></td>
          <td scope="row"><code>1.2761rem + 0.3696vi</code></td>
          <td scope="row"><code>1.5625rem</code></td>
          <td scope="row"><code>1.25rem</code></td>
        </tr>
        <tr>
          <th scope="row">0</th>
         <td scope="row"><code>--step-0</code></td>
          <td scope="row"><code>1.125rem</code></td>
          <td scope="row"><code>1.0815rem + 0.2174vi</code></td>
          <td scope="row"><code>1.25rem</code></td>
          <td scope="row"><code>1rem</code></td>
        </tr>
        <tr>
          <th scope="row">-1</th>
          <td scope="row"><code>--step-n1</code></td>
          <td scope="row"><code>0.9375rem</code></td>
          <td scope="row"><code>0.9158rem + 0.1087vi</code></td>
          <td scope="row"><code>1rem</code></td>
          <td scope="row"><code>0.75rem</code></td>
        </tr>
        <tr>
          <th scope="row">-2</th>
          <td scope="row"><code>--step-n2</code></td>
          <td scope="row"><code>0.7813rem</code></td>
          <td scope="row"><code>0.7747rem + 0.0326vi</code></td>
          <td scope="row"><code>0.8rem</code></td>
          <td scope="row"><code>0.5rem</code></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Spacing.</h3>
  </section>
  <section>
    <h3>Color</h3>
  </section>
</article>