---js
{ 
  title: 'home',
  permalink: '/index.html',
  eleventyNavigation: {
    order: 1
  }
}
---
<article class="container">
  <section class="container">
    <h2>
      <span class="heading-bg">Introduction.</span>
    </h2>
    <p>
      My name is William. Among other
      <a href="https://williamwhitaker.art">things</a>, I'm a front-end developer.
    </p>
    <aside class="container">
      <h3>Some competencies:</h3>
      <ul role="list" class="cluster">
        <li class="card">HTML</li>
        <li class="card">CSS</li>
        <li class="card">JavaScript</li>
        <li class="card">PHP</li>
      </ul>
    </aside>
  </section>
  <section class="container">
    <h2>
      <span class="heading-bg">Thoughtables.</span>
    </h2>
    <div id="posts">{% include 'partials/postslist.njk' %}</div>
  </section>
  <section class="container">
    <aside class="container">
      <h2>A call to action!</h2>
      <p>Got a project you'd like help with?</p>
      <p>Let's
        <a href="mailto:{{ env.EMAIL_ADDRESS }}">talk</a>!</p>
    </aside>
  </section>
</article>