---js
{
  title: 'links',
  eleventyNavigation: {
    order: 4
  }
}
---

<article class="flow">
  <h2>
    <span class="heading-bg">Some links I've saved recently...</span></h2>
  {% for link in links %}
    <section class="card">
      <h3>
        <a href="{{ link.url }}">{{ link.title | safe }}</a>
      </h3>
      <blockquote>{{ link.excerpt }}</blockquote>
    </section>
  {% endfor %}
</article>