---js 
{
	title: 'posts',
	eleventyNavigation: {
		order: 2
	},
	pagination: {
		data: 'collections.posts',
		size: 5,
		alias: 'posts'
	},
	permalink: 'posts/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
	
}
---

<ul role="list" class="flow">
	{% for post in posts | arePublished %}
		<li>
			<a href="{{ post.url }}">{{ post.data.title }}</a>
		</li>
	{% endfor %}
</ul>
<nav aria-labelledby="posts-pagination">
	<h2 id="posts-pagination">More posts.</h2>
	{% if pagination.href.previous %}
		<a href="{{ pagination.href.previous }}">Previous</a>
	{% else %}Previous{% endif %}
	{%- for pageEntry in pagination.pages %}
		<a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a>
	{%- endfor %}
	{% if pagination.href.next %}
		<a href="{{ pagination.href.next }}">Next</a>
	{% else %}Next{% endif %}
</nav>