---js 
{
	title: 'posts',
	eleventyNavigation: {
		order: 2
	},
	pagination: {
		data: 'collections.posts',
		size: 2,
		alias: 'posts'
	},
	permalink: 'posts/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
	
}
---

<ul role="list" class="flow">
	{% for post in posts %}
		<li>
			<p>{{ post.data.title }}</p>
		</li>
	{% endfor %}
</ul>
<nav aria-labelledby="my-pagination">
	<h2 id="my-pagination">This is my Pagination</h2>
	<ol>
		<li>
			{% if pagination.href.previous %}
				<a href="{{ pagination.href.previous }}">Previous</a>
			{% else %}Previous{% endif %}
		</li>
		{%- for pageEntry in pagination.pages %}
			<li>
				<a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a>
			</li>
		{%- endfor %}
		<li>
			{% if pagination.href.next %}
				<a href="{{ pagination.href.next }}">Next</a>
			{% else %}Next{% endif %}
		</li>
	</ol>
</nav>