---
title: projects
order: 1
---

<ul role="list" class="flow">
  {% for project in collections.projects %}
  <li>
    <article class="flow">
      <header>
        <h3>
          <a href="{{ project.data.link }}">{{ project.data.title }}</a>
        </h3>
        <p class="diminutive">{{ project.data.excerpt }}</p>
      </header>
      {{ project.templateContent | safe }}
    </article>
  </li>
  {% endfor %}
</ul>
