---
eleventyComputed:
  eleventyNavigation:
    key: Home
    order: 1
permalink: "/"
---
<article class="flow">
	<h1>Documents that do.</h1>
	<p>I'm an HTML-first web developer.</p>
	<p>For all that the web isn't print media, it is nevertheless made up of documents. Not in the same sense that the <em>Magna Carta</em> is a document, or that your passport is, but documents nonetheless. Unlike documents on paper or parchment, the web's documents can be created, shared, and interacted with in ways that work for any user. That's what makes the web special, and it's possible because of HTML. Putting HTML first means putting people first.</p>
</article>
<aside>
	<div class="flow">
		<div class="callout-container">
			<div class="callout">
				<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M29.0711 17.7575L20.5858 31.8996L12.1005 23.4143L29.0711 17.7575Z"/>
				</svg>
				<p>I'm available for work!</p>
				<p>If you need help making your site work for the people who use it, I'd love to hear from you! You can reach me via <a href="mailto:william@williamwhitaker.dev">email</a>, or on <a href="https://mas.to/@w5m">Mastodon</a>.</p>
			</div>
		</div>
	</div>
</aside>
