---
eleventyComputed:
  eleventyNavigation:
    key: Home
    order: 1
permalink: "/"
---
<h1>Documents that do stuff.</h1>
<p>I'm an HTML-first web developer. This means that my guiding principle is that the web is made up of "documents that do stuff". For all the &lpar;frankly amazing&rpar; stuff they do, these documents, like all documents, exist to share information. What makes the web special is these documents, and the information they contain, are nearly universally accessible. That universality is possible because of HTML. When it comes last, so do people.</p>
{# <article class="flow">
	<h2>Thoughtables.</h2>
	{% set postslist = collections.posts %}
	{% include "postslist.njk" %}
</article>
<article class="flow">
	<h2>Amalgamated linkages.</h2>
	{% for link in links %}
		<section class="card">
			<h3>
				<a href="{{ link.url }}">{{ link.title | safe }}</a>
			</h3>
			<blockquote>{{ link.excerpt }}</blockquote>
		</section>
	{% endfor %}
</article> #}