pre[class*="language-"] {
	width: calc(100vw - (var(--space-xs) * 2));
}

code {
	font-size: var(--step-0);
	word-break: break-all;
	word-spacing: 0.25ch;
}

p:has(img) {
	padding: var(--space-xs);
	border: 0.5em dashed #41404f;
	border-radius: 0.25em;
}

blockquote,
blockquote + p {
	font-size: var(--step--1);
	font-style: italic;
	padding-inline-start: var(--space-s);
	padding-inline-end: var(--space-l);
}

article {
	--flow-space: var(--space-xl);
}
