.masthead {
	background-color: var(--pieton-blue-path);
	color: var(--pieton-blue-bridge);
}

.masthead a {
	color: var(--pieton-light-bridge);
}

h2,
h3 {
	font-family: var(--display-font);
	font-weight: normal;
	color: var(--pieton-yellow-path);
	display: inline-block;
}

table {
	border-collapse: collapse;
	font-size: var(--step--1);
}

th,
td {
	border: 1px solid;
}

th,
caption {
	text-align: start;
}

thead th:not(:first-child),
td {
	text-align: end;
}

thead {
	border-block-end: 2px solid;
	background: var(--pieton-yellow-route);
	color: var(--pieton-yellow-base);
}

.card {
	background-color: var(--pieton-blue-bridge);
	color: var(--pieton-yellow-road);
	font-family: var(--body-font);
	height: 100%;
}

.card a {
	color: var(--pieton-yellow-road);
}

.card h2 {
	font-size: var(--step-3);
	font-weight: 700;
	font-family: var(--display-font);
}

.subheading {
	font-size: var(--step--1);
	font-family: var(--display-font);
}

/* .main-title {
	font-size: var(--step-4);
} */

/* h1 {
	font-size: var(--step-3, 2rem);
} */

/* h2 {
	font-size: var(--step-2, 1.5rem);
} */

/* h3 {
	font-size: var(--step-1, 1.25rem);
} */

/* h4,
h5,
h6 {
	font-size: var(--step-0, 1.125rem);
	font-style: italic;
} */

/* a {
	color: var(--color-links);
} */

/* pre[class*="language-"] {
	width: calc(100vw - (var(--space-xs) * 2));
} */

/* code {
	font-size: var(--step-0);
	word-break: keep-all;
	word-spacing: 0.25ch;
	background-color: var(--color-mid-dark);
	border-radius: 2px;
	color: var(--color-mid-light);
	color: cyan;
	padding-inline: 0.25em;
	padding-block: 0.125em;
} */

/* h1 > code,
h2 > code,
h3 > code {
	font-size: inherit;
} */

/* p:has(img) {
	padding: var(--space-xs);
	border: 0.5em dashed #41404f;
	border-radius: 0.25em;
} */

/* blockquote,
blockquote + p {
	font-size: var(--step--1);
	font-style: italic;
	padding-inline-start: var(--space-s);
	padding-inline-end: var(--space-l);
} */

/* header {
	border-left: 0.5em solid var(--color-mid-dark);
	border-bottom: 0.5em solid var(--color-mid-dark);
	padding-inline-start: var(--space-s);
	padding-block: var(--space-s);
} */

/* h1 {
	--measure: 16ch;
} */

/* nav {
	display: flex;
	justify-content: flex-start;
	padding-block: var(--space-s);
} */

/* main {
	border-top: 0.5em solid var(--color-mid-dark);
} */

/* table {
	border: 0.5em solid var(--color-mid-dark);
	width: 100%;
} */

/* thead {
	background-color: var(--color-mid-dark);
	color: var(--color-mid-light);
} */

/* th {
	padding-block-start: var(--space-xs);
	padding-block-end: var(--space-2xs);
} */

/* td {
	padding-block: 0.25rem;
} */

/* th,
td {
	padding-inline: var(--space-3xs);
} */

/* tbody > tr:nth-child(even) {
	background-color: lightsteelblue;
} */

/* a.footnotes__ref {
	text-decoration: underline dotted var(--color-mid-dark);
	color: inherit;
} */

/* .footnotes__ref::after {
	position: relative;
	top: -1ex;
	padding: 0.125rem;
	font-size: var(--step--2);
	counter-increment: footnote;
	content: counter(footnote);
	color: crimson;
} */

/* hgroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: var(--space-m);
} */

/* hgroup time {
	font-size: var(--step-1);
} */
