/* Composition */

/* https://cube.fyi/composition.html
Composition rules are for defining layouts, interactions, and flow/rhythm.
Composition rules are not for aesthetic elements such as fonts, colors, borders, shadows, etc.
*/

@layer composition {
	/* "Avoid margins on components and padding on containers" */

	/* Containers - no padding! */
	:is(body, main, article, section, aside, ul) {
		padding: 0;
		margin: var(--space-3xs);
	}

	.flow > * + * {
		margin-block-start: var(--flow-space, 0px);
	}

	main {
		margin-block-start: var(--space-m);
		margin-inline: auto;
	}

	article {
		--flow-space: var(--space-l);
		container-name: article;
		container-type: inline-size;
	}

	ul {
		--flow-space: var(--space-xs);
	}

	aside {
		margin-inline: auto;
	}

	@container article (width > 20rem) {
		aside {
			max-width: 72cqw;
		}
	}

	aside[data-name='skills'] {
		container-name: skills;
		container-type: inline-size;
		--grid-min: 10ch;
		--grid-gap: var(--space-xs);
	}

	aside[data-name='skills'] ul {
		margin-inline-start: 0;
	}

	@container skills (width > 20rem) {
		.grid {
			max-width: 84cqw;
		}
	}

	/* Components - no margins! */
	:is(h1, h2) {
		padding-block-start: var(--space-m-l);
		padding-block-end: var(--space-xs-s);
	}

	p {
		padding-block-start: var(--space-m);
		padding-block-end: var(--space-s);
	}

	li {
		padding-block-start: var(--space-xs);
		padding-block-end: var(--space-3xs);
	}

	/* General layouts */
	.grid {
		display: grid;
		grid-gap: var(--grid-gap, var(--space-3xs));
	}

	@supports (width: min(var(--grid-min, 200px), 100%)) {
		.grid {
			grid-template-columns: repeat(
				auto-fit,
				minmax(min(var(--grid-min, 200px), 100%), 1fr)
			);
		}
	}

	.cluster {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space, 1rem);
		justify-content: flex-start;
		align-items: center;
	}

	.with-sidebar {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-xs);
	}

	.with-sidebar > :first-child {
		flex-basis: 32rem;
		flex-grow: 1;
	}

	.with-sidebar > :last-child {
		flex-basis: 0;
		flex-grow: 999;
		min-inline-size: 50%;
	}
}
