/* Composition */

/* https://cube.fyi/composition.html
Composition rules are for defining layouts, interactions, and flow/rhythm.
Composition rules are not for aesthetic elements such as fonts, colors, borders, shadows, etc. 
*/

.flow > * + * {
	margin-block-start: var(--flow-space, 1.5em);
}

/* Outermost to innermost */

.tight-box {
	--color-light: #fffff0;
	--color-dark: #00000f;
	
	padding: var(--space-3xs);
	border: 0 solid;
	outline: var(--border-thin) solid transparent;
	outline-offset: calc(var(--border-thin) * -1);
	color: var(--color-dark);
	background-color: var(--color-light);
}

.tight-box * {
	color: inherit;
}

.tight-box.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}

.standard-box {
	--color-light: #fffff0;
	--color-dark: #00000f;
	
	padding: var(--space-xs);
	border: var(--step-1) solid;
	color: var(--color-dark);
	background-color: var(--color-light);
}

.standard-box * {
	color: inherit;
}

.standard-box.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}

.wide-box {
	--color-light: #e3e3e3;
	--color-dark: #00000f;
	
	padding: var(--space-s);
	border: 4px solid var(--color-dark);
	outline: var(--border-thin) solid transparent;
	outline-offset: calc(var(--border-thin) * -1);
	color: var(--color-dark);
	background-color: var(--color-light);
}

.wide-box * {
	color: inherit;
}

.wide-box.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}