/* https://cube.fyi/utility.html */
.horizontal-run {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--flex-gap, 1ch);
}

.big-text {
	font-size: var(--step-1, 1.2656rem);
}

.bigger-text {
	font-size: var(--step-2, 1.4238rem);
}

.biggest-text {
	font-size: var(--step-3, 1.6019rem);
}

.bg-light {
	background-color: var(--color-base-light, #fffff0);
}

.bg-dark {
	background-color: var(--color-base-dark, #00000f);
}

.bg-primary {
	background-color: var(--color-base-primary, #0099f7);
}

.bg-secondary {
	background-color: var(--color-base-secondary, #fd191a);
}

.bg-tertiary {
	background-color: var(--color-base-tertiary, #0edd5a);
}

.fg-light {
	color: var(--color-base-light, #fffff0);
}

.fg-dark {
	color: var(--color-base-dark, #00000f);
}

.fg-primary {
	color: var(--color-base-primary, #0099f7);
}

.fg-secondary {
	color: var(--color-base-secondary, #fd191a);
}

.fg-tertiary {
	color: var(--color-base-tertiary, #0edd5a);
}

.bottom-border {
	border-bottom: 0.5em solid var(--color-mid-dark);
}

.inline-border {
	border-style: solid;
	border-inline-width: 0.5em;
	border-color: var(--color-mid-dark);
}

.rounded-border {
	border-radius: 0.5em;
}

.conic-gradient {
	background: repeating-conic-gradient(
		from 45deg at 90% 50%,
		var(--color-mid-light) 0 10deg,
		var(--color-light) 10deg 20deg
	);
}

.display-font {
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
		Arial, sans-serif;
	font-weight: normal;
	font-size: var(--step-3);
}

.display-font-mini {
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
		Arial, sans-serif;
	font-weight: normal;
	font-size: var(--step--1);
}
