@import url('_variables.css');
@import url('_reset.css');
@import url('_global.css');

/* Composition */

/* https://cube.fyi/composition.html */

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

/* Utility */

/* https://cube.fyi/utility.html */

.font-system {
	font-family: var(--font-base-system, sans-serif);
}

.font-sans {
	font-family: var(--font-base-sans, sans-serif);
}

.font-serif {
	font-family: var(--font-base-serif, serif);
}

/* step -2: 14.22px → 12.80px */
.font-mini {
	font-size: var(--step-n2, 0.8rem);
}

/* step -1: 16.00px → 16.00px */
.font-small {
	font-size: var(--step-n1, 1rem);
}

/* step 0: 18.00px → 20.00px */
.font-normal {
	font-size: var(--step-0, 1rem);
}

/* step 1: 20.25px → 25.00px */
.font-medium {
	font-size: var(--step-1, 1.2656rem);
}

/* step 2: 22.78px → 31.25px */
.font-large {
	font-size: var(--step-2, 1.4238rem);
}

/* step 3: 25.63px → 39.06px */
.font-jumbo {
		font-size: var(--step-3, 1.6019rem);
}

.margin-inline-slim {
		margin-inline: var(--spacing-s, 1.125rem);
}

.margin-inline-jumbo {
		margin-inline: var(--spacing-3xl, 6.75rem);
}

.bg-light {
	background-color: var(--color-base-light, #fffff0);
}

.bg-dark {
	background-color: var(--color-base-dark, #00000f);
}

.bg-primary {
	background-color: var(--color-base-primary, #0099f7);
}

.bg-secondary {
	background-color: var(--color-base-secondary, #fd191a);
}

.bg-tertiary {
	background-color: var(--color-base-tertiary, #0edd5a);
}

.fg-light {
	color: var(--color-base-light, #fffff0);
}

.fg-dark {
	color: var(--color-base-dark, #00000f);
}

.fg-primary {
	color: var(--color-base-primary, #0099f7);
}

.fg-secondary {
	color: var(--color-base-secondary, #fd191a);
}

.fg-tertiary {
	color: var(--color-base-tertiary, #0edd5a);
}

/* Boxes */

.exterior-box {
		padding: var(--pair-m-l, 1.6875rem);
}

.corridor-box {
		padding-block: var(--spacing-2xs, 0.5625rem);
		padding-inline: var(--spacing-s, 1.125rem);
}

.room-box {
		padding: var(--pair-xs-s, 0.875rem);
}