@import url('_variables.css');
@import url('_reset.css');

/* Composition */

/* https://cube.fyi/composition.html */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Utility */

/* https://cube.fyi/utility.html */

.font-base-system {
  font-family: var(--font-base-system, sans-serif);
}

.font-base-sans {
  font-family: var(--font-base-sans, sans-serif);
}