---
layout: page
title: home
ogImage: https://v1.screenshot.11ty.dev/https%3A%2F%2Fwilliamwhitaker.dev/opengraph/
ogDesc: Hi I'm William and this is my website
pagination:
  data: collections.posts
  size: 5
  alias: posts
templateEngineOverride: njk, md
---
<article class="flow">
    <h2>welcome!</h2>
    <section>
        <h3>william whitaker</h3>
        <p>front-end developer</p>
        <p>among other <a href="https://williamwhitaker.art">things</a>, I make robust, flexible, and above all, accessible websites.</p>
        <aside>
            <h4>need help with a project?</h4>
            <p>let's talk!</p>
            <form action="">
                <input type="hidden" name="form-name" value="contact">
                <label for="name">your name:</label>
                <input type="text" name="name" placeholder="what shall I call you?">
                <label for="email">your email: </label>
                <input type="email" name="email" placeholder="how can I reach you?">
                <label for="message">your message:</label>
                <textarea name="message" id="" cols="30" rows="10" placeholder="ahoy-hoy!"></textarea>
            </form>
        </aside>
    </section>
</article>