---
layout: page
title: home
ogImage: https://v1.screenshot.11ty.dev/https%3A%2F%2Fwilliamwhitaker.dev/opengraph/
ogDesc: Hi I'm William and this is my website
pagination:
  data: collections.posts
  size: 5
  alias: posts
templateEngineOverride: njk, md
---
<h1>Welcome! (svg/logo)</h1>
<p>My name is William. Among other things, I'm a front-end developer.</p>
<ul>
    <li>Vue</li>
    <li>WordPress</li>
    <li>UI design/development</li>
</ul>
<p>A transformative web isn't about the latest framework or design trend, and it certainly isn't about monetizing eyeballs. Which, ew.</p>
<p>It's about reaching people, and that means a web that is accessible to everyone no matter where they are or what their circumstances are.</p>
<p>My focus is on creating websites and UI components that are fast, lightweight, and universal.</p>
<aside>
    <h2>Got a project you need help with?</h2>
    <p>Let's <a href="/contact">talk</a>!</p>
</aside>
