---
layout: "page"
pageTitle: "home"
---
<h2>this site:</h2>
<ul>
	<li>"{{ pageTitle }}."</li>
	<li>
		<a href="/blog/">"blog."</a>
	</li>
	<li><a href="projects/">"projects."</a></li>
	<li><a href="/contact/">"contact."</a></li>
</ul>

