<footer class="layout:[ flex justify-between items-end -z-50 ] spacing:[ -mt-2 py-4 px-4 ] aesthetic:[ bg-transparent border-solid border-black border-t-2 ]">
  <p class="typography:[ text-step--2 leading-none ]">smocial</p>
  <p class="typography:[ text-step--2 leading-none ]">copyright 2023</p>
</footer>
