<footer class="layout:[ flex justify-between ] spacing:[ mt-4 ] typography:[ text-light  bg-dark ]">
  <p class="typography:[ text-step--1 ]">copyright 2023</p>
  <p class="layout:[ inline-block ]">William Whitaker</p>
</footer>
