<footer class="px-l py-2xs inline-flex flex-wrap justify-between items-baseline gap-x-s">
  <ul class="inline-flex gap-x-s">
    <li>
      <a href="https://github.com/w0whitaker">github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/william-whitaker/">linkedin</a>
    </li>
  </ul>
  <p class="text-step--1 leading-none">copyright 2023</p>
</footer>
