{% set currentUrl = page.url %}

<header id="site-header" class="px-l py-2xs inline-flex flex-wrap justify-start items-baseline gap-x-s">
	<h1 class="text-step-2"><a href="/">{{ meta.siteName }}</a></h1>
	<p class="text-step-0 italic">{{ meta.siteDescription }}</p>
</header>
