<div class="layout:[ flex items-end gap-10 ]">
	<span class="typography:[ text-step-0 font-bold leading-none ]">this page: </span>
	<h2 class="typography:[ text-step-2 font-display leading-none ]">"{{ pageTitle }}."</h2>
</div>
