<div class="layout:[ flex items-end gap-2 ]">
	<span class="typography:[ text-step-0 leading-none ]">this page: </span>
	<h2 class="typography:[ text-step-2 font-bold leading-none ] aesthetic:[ text-fuchsia-900 ]">"{{ pageTitle }}."</h2>
</div>
