<ol role="list" class="flow">
{% for post in postslist %}
  {% if post.data.published %}
    <li> 
      <a href="{{ post.url | url }}">
        <h3>{{ post.data.title }}</h3>
      </a>
    </li>
  {% endif %}
{% endfor %}
</ol>