<ul role="list" class="switcher ">
  {%- for post in collections.posts | reverse -%}
    {%- if (post | isPublished) -%}
      <li>
        <div class="card">
          <hgroup>
            <h3>
              <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h3>
            <p class="subheading">
              {{ post.data.date | humanDate }}
            </p>
          </hgroup>
          <p>
            {{ post.data.teaser }}
          </p>
        </div>
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>