<div class="tertiary-color-region">
  <nav>
    {% set navPages = collections.all | eleventyNavigation %}
    <ul role="list" class="grid">
      {%- for entry in navPages %}
        <li {% if entry.url == page.url %} class="active-page"{% endif %}>
          <a href="{{ entry.url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
</div>