<nav>
	{% if pageTitle === 'home' %}
    {% set activePage = "/" %}
	{% else %}
		{% set activePage = ["/", page.fileSlug, "/"] | join  %}
	{% endif %}
	<div class="layout:[ flex gap-4 ]">
		<span class="basis-1/3 shrink leading-tight">other pages on this site:</span>

		<ul class="space-y-2">
		{% for item in navigation.pages %}
			{% if  item.url != activePage %}
				<li class="typography:[ text-step-0 ]">
					<a href="{{ item.url }}" class=" aesthetic:[ underline underline-offset-6 decoration-4 decoration-sky-800 hover:decoration-wavy ]">"{{ item.text }}"</a>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</nav>
