<nav>
{% set activePage = page.url | url %}
	<div class="flex flex-col gap-2">
		<span>other pages on this site: </span>
		<ul>
		{% for page in collections.pages %}
			{% if page.url != activePage %}
				<li>
					<a href="{{ page.url }}">"{{ page.fileSlug }}."</a>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</nav>
